Repository openstack-infra/zuul: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-stream-functional-2.5, zuul-stream-functional-2.6, zuul-stream-functional-2.7, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

zuul-stream-functional:
  parent: multinode
  nodeset: zuul-functional-temp-master
  pre-run: playbooks/zuul-stream/pre.yaml
  run: playbooks/zuul-stream/functional.yaml
  post-run:
  - playbooks/zuul-stream/post.yaml
  - playbooks/zuul-stream/post-ara.yaml

zuul-stream-functional-2.5:
  parent: zuul-stream-functional
  vars:
    zuul_ansible_version: 2.5

zuul-stream-functional-2.6:
  parent: zuul-stream-functional
  vars:
    zuul_ansible_version: 2.6

zuul-stream-functional-2.7:
  parent: zuul-stream-functional
  vars:
    zuul_ansible_version: 2.7

zuul-build-dashboard:
  parent: build-javascript-content
  success-url: npm/html/
  vars:
    javascript_content_dir: ../zuul/web/static
    zuul_work_dir: '{{ zuul.project.src_dir }}/web'
    zuul_api_url: https://zuul.openstack.org
  run: playbooks/dashboard/run.yaml

zuul-build-dashboard-multi-tenant:
  parent: zuul-build-dashboard
  vars:
    zuul_api_url: https://softwarefactory-project.io/zuul

tox-py35:
  nodeset: ubuntu-xenial
  timeout: 2700

tox-py36:
  timeout: 2700

nodejs-npm-run-test:
  vars:
    node_version: 10
    zuul_work_dir: '{{ zuul.project.src_dir }}/web'
  success-url: npm/reports/bundle.html

manifest: add zuul/ansible and ansible-config.conf
  MANIFEST.in
Due: tox-py35, tox-py36

Whitelist ansible_python_interpreter for add_host
  releasenotes/notes/add-host-ansible-python-interpreter-9592aef8d2c90b3e.yaml
  zuul/ansible/base/action/add_host.py
Due: zuul-stream-functional, zuul-stream-functional-2.5, zuul-stream-functional-2.6, zuul-stream-functional-2.7, tox-py35, tox-py36

Properly handle missing ansible version in executor
  zuul/executor/server.py
Due: tox-py35, tox-py36

Increase wait time of test_plugins
  tests/unit/test_v3.py
Due: tox-py35, tox-py36

Fail jobs when requirements not met
  releasenotes/notes/fail-jobs-when-requirement-not-met-5e37516c241020f3.yaml
  tests/unit/test_v3.py
  zuul/model.py
Due: tox-py35, tox-py36

Add py37 environment to tox
  tox.ini
Due: tox-py35, tox-py36

Move ansible installation from pre_command to install phase in tox
  tools/pip.sh
  tox.ini
Due: tox-py35, tox-py36

Fix metadata not passed in provides/requires
  tests/unit/test_v3.py
  zuul/model.py
Due: tox-py35, tox-py36

Fix deprecation warning around yaml.load
  tests/unit/test_git_driver.py
Due: tox-py35, tox-py36

scheduler: add job's tags to the rpc job_list method
  tests/fixtures/config/single-tenant/git/common-config/zuul.yaml
  tests/unit/test_web.py
  zuul/rpclistener.py
Due: tox-py35, tox-py36

Ensure valid Ansible variable names in config
  tests/unit/test_v3.py
  zuul/configloader.py
Due: tox-py35, tox-py36

Forward artifacts to child jobs within buildset
  releasenotes/notes/artifacts-buildset-19a94b7630db4f30.yaml
  tests/fixtures/config/provides-requires-buildset/git/common-config/zuul.yaml
  tests/fixtures/config/provides-requires-buildset/git/org_project1/README
  tests/fixtures/config/provides-requires-buildset/git/org_project1/playbooks/image-builder.yaml
  tests/fixtures/config/provides-requires-buildset/git/org_project1/playbooks/image-user.yaml
  tests/fixtures/config/provides-requires-buildset/git/org_project1/zuul.yaml
  tests/fixtures/config/provides-requires-buildset/main.yaml
  tests/unit/test_v3.py
  zuul/model.py
Due: tox-py35, tox-py36

Add missing Ansible invocation debug env variables
  zuul/executor/server.py
Due: tox-py35, tox-py36

Fix Ansible 2.7 uri module
  tests/fixtures/config/ansible/git/org_plugin-project/playbooks/uri_bad_path.yaml
  zuul/ansible/base/action/uri.py
Due: zuul-stream-functional, zuul-stream-functional-2.5, zuul-stream-functional-2.6, zuul-stream-functional-2.7, tox-py35, tox-py36

Update component diagram to show statsd
  doc/source/admin/components.rst
Due: tox-py35, tox-py36

Fix ignored default ansible version
  releasenotes/notes/ansible-2.7-uri-module-3143c326474740ee.yaml
  releasenotes/notes/ansible-default-version-4d4e622b0be39e12.yaml
  tests/fixtures/config/ansible-versions/git/common-config/zuul.yaml
  tests/fixtures/config/ansible-versions/git/org_project/README
  tests/fixtures/config/ansible-versions/main.yaml
  tests/fixtures/zuul-default-ansible-version.conf
  tests/unit/test_v3.py
  zuul/scheduler.py
Due: tox-py35, tox-py36

Increase default wait_timeout
  tests/base.py
  tests/remote/test_remote_zuul_stream.py
  tests/unit/test_v3.py
Due: tox-py35, tox-py36

Increase wait_timeout of test_playbook
  tests/unit/test_v3.py
Due: tox-py35, tox-py36

Make hard test timeouts more gentle
  tests/base.py
Due: tox-py35, tox-py36

Add missing thread joins to tests
  tests/base.py
Due: tox-py35, tox-py36

Increase global test timeout
  tox.ini
Due: tox-py35, tox-py36

Fix test race in test_periodic_override
  tests/unit/test_executor.py
Due: tox-py35, tox-py36

Increase event timeouts in git tests
  tests/unit/test_git_driver.py
Due: tox-py35, tox-py36

Mock system load in executor governor tests
  tests/unit/test_executor.py
Due: tox-py35, tox-py36

web: add ErrorBoundary
  web/src/App.jsx
  web/src/containers/ErrorBoundary.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

web: check if project has variant
  web/src/containers/project/Project.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

web: check if job has parent
  web/src/containers/jobs/Jobs.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

tests: use a single build reference in stream test
  tests/unit/test_streaming.py
Due: tox-py35, tox-py36

tests: be more gentle in the iterate timeout loop
  tests/base.py
Due: tox-py35, tox-py36

gerrit: use change: when querying changes
  tests/base.py
  zuul/driver/gerrit/gerritconnection.py
Due: tox-py35, tox-py36

Fix typos
  web/src/pages/Builds.jsx
  web/src/pages/Buildsets.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

web: Add '/' API route
  tests/unit/test_web.py
  zuul/web/__init__.py
Due: tox-py35, tox-py36

Fix slightly smaller font of in progress jobs
  web/src/containers/status/ChangePanel.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Resolve todo after stream.html to stream renaming
  web/src/containers/status/ChangePanel.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Document how to run eslint locally
  doc/source/developer/javascript.rst
Due: tox-py35, tox-py36

tox: Remove 'commands_pre'
  tox.ini
Due: tox-py35, tox-py36

tox: Change default 'install_command'
  tox.ini
Due: tox-py35, tox-py36

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, zuul/lib/ansible*, playbooks/zuul-stream/.*
  zuul-stream-functional-2.5: any of: zuul/ansible/.*, zuul/lib/ansible*, playbooks/zuul-stream/.*
  zuul-stream-functional-2.6: any of: zuul/ansible/.*, zuul/lib/ansible*, playbooks/zuul-stream/.*
  zuul-stream-functional-2.7: any of: zuul/ansible/.*, zuul/lib/ansible*, playbooks/zuul-stream/.*
  zuul-build-dashboard: any of: web/.*, playbooks/dashboard/.*
  zuul-build-dashboard-multi-tenant: any of: web/.*, playbooks/dashboard/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-test: any of: web/.*
