Repository openstack-infra/zuul: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-stream-functional-2.5, zuul-stream-functional-2.6, zuul-stream-functional-2.7, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

zuul-stream-functional:
  parent: multinode
  nodeset: zuul-functional-temp-master
  pre-run: playbooks/zuul-stream/pre.yaml
  run: playbooks/zuul-stream/functional.yaml
  post-run:
  - playbooks/zuul-stream/post.yaml
  - playbooks/zuul-stream/post-ara.yaml

zuul-stream-functional-2.5:
  parent: zuul-stream-functional
  vars:
    zuul_ansible_version: 2.5

zuul-stream-functional-2.6:
  parent: zuul-stream-functional
  vars:
    zuul_ansible_version: 2.6

zuul-stream-functional-2.7:
  parent: zuul-stream-functional
  vars:
    zuul_ansible_version: 2.7

zuul-build-dashboard:
  parent: build-javascript-content
  success-url: npm/html/
  vars:
    javascript_content_dir: ../zuul/web/static
    zuul_work_dir: '{{ zuul.project.src_dir }}/web'
    zuul_api_url: https://zuul.openstack.org
  run: playbooks/dashboard/run.yaml

zuul-build-dashboard-multi-tenant:
  parent: zuul-build-dashboard
  vars:
    zuul_api_url: https://softwarefactory-project.io/zuul

tox-py35:
  nodeset: ubuntu-xenial
  timeout: 2700

tox-py36:
  timeout: 2700

nodejs-npm-run-test:
  vars:
    node_version: 10
    zuul_work_dir: '{{ zuul.project.src_dir }}/web'
  success-url: npm/reports/bundle.html

tox: Fix indentation
  tox.ini
Due: tox-py35, tox-py36

Add link to builds in job page
  web/src/containers/job/JobVariant.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Use xterm.js for live log streaming
  web/package.json
  web/src/index.css
  web/src/pages/Stream.jsx
  web/yarn.lock
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Add search function to web streaming
  web/src/pages/Stream.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Add web / fingergw connections for components graph
  doc/source/admin/components.rst
Due: tox-py35, tox-py36

Increase timeout of zuul-quick-start
  .zuul.yaml
Due: tox-py35, tox-py36

Add database info for components graph
  doc/source/admin/components.rst
Due: tox-py35, tox-py36

Prepend path with bin dir of ansible virtualenv
  tests/fixtures/config/ara-in-path/git/common-config/playbooks/ara.yaml
  tests/fixtures/config/ara-in-path/git/common-config/zuul.yaml
  tests/fixtures/config/ara-in-path/git/org_project/README
  tests/fixtures/config/ara-in-path/main.yaml
  tests/unit/test_v3.py
  zuul/executor/server.py
Due: tox-py35, tox-py36

Use opendev docker jobs
  .zuul.yaml
Due: tox-py35, tox-py36

Whitelist pageup and down keys in xterm
  web/src/pages/Stream.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Fix SQL error when querying for tuples
  tests/fixtures/layouts/provides-requires.yaml
  tests/unit/test_v3.py
  zuul/driver/sql/sqlconnection.py
Due: tox-py35, tox-py36

Use the buildset registry in zuul-quick-start
  .zuul.yaml
  playbooks/quick-start/run.yaml
Due: tox-py35, tox-py36

Fix zuul-stream functional test
  playbooks/zuul-stream/functional.yaml
Due: zuul-stream-functional, zuul-stream-functional-2.5, zuul-stream-functional-2.6, zuul-stream-functional-2.7, tox-py35, tox-py36

Check branches in supercedent pipelines
  tests/fixtures/layouts/supercedent-promote.yaml
  tests/unit/test_supercedent.py
  zuul/manager/supercedent.py
Due: tox-py35, tox-py36

encrypt: Fix SSL error when using file pubkey
  tools/encrypt_secret.py
Due: tox-py35, tox-py36

Assert ara database is loaded from ansible venv
  tests/fixtures/config/ara-in-path/git/common-config/playbooks/ara.yaml
Due: tox-py35, tox-py36

Set focus on xtem.js to terminal
  web/src/pages/Stream.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Handle github exceptions better when trying to get a PR
  zuul/driver/github/githubconnection.py
Due: tox-py35, tox-py36

Fix dynamic loading of trusted layouts
  zuul/manager/__init__.py
Due: tox-py35, tox-py36

Config errors should not affect config-projects
  tests/fixtures/config/broken-trusted/git/common-config/playbooks/job.yaml
  tests/fixtures/config/broken-trusted/git/common-config/zuul.yaml
  tests/fixtures/config/broken-trusted/git/org_project/.zuul.yaml
  tests/fixtures/config/broken-trusted/git/org_project/README
  tests/fixtures/config/broken-trusted/git/org_project/playbooks/project-test.yaml
  tests/fixtures/config/broken-trusted/main.yaml
  tests/unit/test_v3.py
Due: tox-py35, tox-py36

Add release note for broken trusted config loading fix
  releasenotes/notes/fix-broken-trusted-config-updates-b68948bdbead17b2.yaml
Due: tox-py35, tox-py36

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, zuul/lib/ansible*, playbooks/zuul-stream/.*
  zuul-stream-functional-2.5: any of: zuul/ansible/.*, zuul/lib/ansible*, playbooks/zuul-stream/.*
  zuul-stream-functional-2.6: any of: zuul/ansible/.*, zuul/lib/ansible*, playbooks/zuul-stream/.*
  zuul-stream-functional-2.7: any of: zuul/ansible/.*, zuul/lib/ansible*, playbooks/zuul-stream/.*
  zuul-build-dashboard: any of: web/.*, playbooks/dashboard/.*
  zuul-build-dashboard-multi-tenant: any of: web/.*, playbooks/dashboard/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-test: any of: web/.*
