Repository openstack-infra/zuul: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

zuul-stream-functional:
  parent: multinode
  nodeset: zuul-functional-temp-master
  pre-run: playbooks/zuul-stream/pre.yaml
  run: playbooks/zuul-stream/functional.yaml
  post-run:
  - playbooks/zuul-stream/post.yaml
  - playbooks/zuul-stream/post-ara.yaml
  required-projects:
  - openstack/ara

zuul-build-dashboard:
  parent: build-javascript-content
  success-url: npm/html/status.html
  vars:
    javascript_content_dir: zuul/web/static
    zuul_api_url: https://zuul.openstack.org
  run: playbooks/dashboard/run.yaml

zuul-build-dashboard-multi-tenant:
  parent: zuul-build-dashboard
  success-url: npm/html/tenants.html
  post-run: playbooks/dashboard/multi.yaml
  vars:
    zuul_api_url: https://softwarefactory-project.io/zuul
    javascript_copy_links: false

build-sphinx-docs:
  vars:
    sphinx_python: python3

tox-py36:
  nodeset: ubuntu-bionic

nodejs-npm-run-lint:
  vars:
    node_version: 8
  success-url: npm/reports/bundle.html

Web: don't update the status cache more than once
  zuul/web/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

Doc: executor operations document pause, remove graceful
  doc/source/admin/components.rst
Due: build-sphinx-docs, tox-py35, tox-py36

Doc: executor operations - explain jobs will be restarted at restart
  doc/source/admin/components.rst
Due: build-sphinx-docs, tox-py35, tox-py36

Fix node leak on job removal
  tests/unit/test_scheduler.py
  zuul/scheduler.py
Due: build-sphinx-docs, tox-py35, tox-py36

Don't report non-live items in stats
  zuul/scheduler.py
Due: build-sphinx-docs, tox-py35, tox-py36

Speed up build list query under mysql
  zuul/driver/sql/sqlconnection.py
Due: build-sphinx-docs, tox-py35, tox-py36

Improve docs for inventory_file
  doc/source/user/jobs.rst
Due: build-sphinx-docs, tox-py35, tox-py36

Add coreutils to bindep on platform apk
  bindep.txt
Due: build-sphinx-docs, tox-py35, tox-py36

Fix unreachable nodes detection
  playbooks/zuul-stream/functional.yaml
  releasenotes/notes/unreachable-60ce0305416a5e8c.yaml
  tests/fixtures/config/ansible-unreachable/git/org_project/playbooks/run.yaml
  tests/fixtures/config/ansible-unreachable/git/org_project/playbooks/unreachable.yaml
  tests/fixtures/config/ansible-unreachable/git/org_project/zuul.yaml
  tests/fixtures/config/ansible-unreachable/main.yaml
  tests/unit/test_v3.py
  zuul/ansible/callback/zuul_unreachable.py
  zuul/executor/server.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Fix publish-openstack-javascript-content
  .zuul.yaml
Due: build-sphinx-docs, tox-py35, tox-py36

Add role path to JSON result in callback plugin
  tests/remote/test_remote_zuul_json.py
  zuul/ansible/callback/zuul_json.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Run release-zuul-python on release
  .zuul.yaml
Due: build-sphinx-docs, tox-py35, tox-py36

Parallelize prime_installation_map
  zuul/driver/github/githubconnection.py
Due: build-sphinx-docs, tox-py35, tox-py36

Make sure javascript output is in wheel
  zuul/_setup_hook.py
Due: build-sphinx-docs, tox-py35, tox-py36

Fix pbr setup hook
  setup.cfg
Due: build-sphinx-docs, tox-py35, tox-py36

Use merger to get list of files for pull-request
  tests/base.py
  tests/fakegithub.py
  tests/unit/test_github_driver.py
  zuul/driver/github/githubconnection.py
  zuul/merger/merger.py
Due: build-sphinx-docs, tox-py35, tox-py36

web: fix multiple builds query parameters for a single column
  tests/unit/test_web.py
  zuul/web/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

web: fix zuul-build-dashboard homepage setting
  playbooks/dashboard/run.yaml
Due: build-sphinx-docs, tox-py35, tox-py36

web: prevent filter being cleaned on status reload
  web/src/pages/Status.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: fix hamburger menu collapse
  web/src/App.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: fix support for comma/space separated status filter
  web/src/containers/status/Pipeline.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: expand status panels only when the header is clicked
  web/src/containers/status/ChangePanel.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Include enqueue and report timestamps in MQTT msg
  tests/unit/test_connection.py
  zuul/driver/mqtt/mqttreporter.py
Due: build-sphinx-docs, tox-py35, tox-py36

Reorganize admin manual
  doc/source/admin/centos7_setup.rst
  doc/source/admin/components.rst
  doc/source/admin/gerrit_setup.rst
  doc/source/admin/github_setup.rst
  doc/source/admin/index.rst
  doc/source/admin/installation.rst
  doc/source/admin/nodepool_install.rst
  doc/source/admin/nodepool_openstack.rst
  doc/source/admin/nodepool_static.rst
  doc/source/admin/opensuse_leap15_setup.rst
  doc/source/admin/quick-start.rst
  doc/source/admin/troubleshooting.rst
  doc/source/admin/tutorial.rst
  doc/source/admin/zuul-from-scratch.rst
Due: build-sphinx-docs, tox-py35, tox-py36

builds: set missing start/end time for node errors
  zuul/driver/sql/sqlreporter.py
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36

web: use window.location in TableFilters to keep sub-url path
  web/src/containers/TableFilters.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: add build page
  releasenotes/notes/web-page-build-93eeb53418f8a3f0.yaml
  web/src/api.js
  web/src/pages/Build.jsx
  web/src/pages/Builds.jsx
  web/src/routes.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: fix stream url from status json
  tests/unit/test_scheduler.py
  tests/unit/test_web.py
  web/src/containers/status/ChangePanel.jsx
  web/src/containers/status/ChangePanel.test.jsx
  zuul/model.py
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Fix broken code block in the docs
  doc/source/developer/javascript.rst
Due: build-sphinx-docs, tox-py35, tox-py36

Optionally disable service worker in zuul-web
  doc/source/developer/javascript.rst
  web/src/registerServiceWorker.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: use PUBLIC_URL instead of package.json patch
  .zuul.yaml
  playbooks/dashboard/run.yaml
Due: build-sphinx-docs, tox-py35, tox-py36

Do only one status request at a time
  web/src/pages/Status.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  zuul-build-dashboard-multi-tenant: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  build-sphinx-docs: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-lint: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
