Repository openstack-infra/zuul: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, build-sphinx-docs, tox-py35, build-javascript-content, nodejs-npm-run-lint

.zuul.yaml:

- nodeset:
    name: zuul-functional-temp-master
    nodes:
      - name: controller
        label: ubuntu-xenial
      - name: node1
        label: ubuntu-xenial
      - name: node2
        label: ubuntu-xenial
    groups:
      - name: node
        nodes:
          - node1
          - node2

- job:
    name: zuul-stream-functional
    parent: multinode
    nodeset: zuul-functional-temp-master
    pre-run: playbooks/zuul-stream/pre.yaml
    run: playbooks/zuul-stream/functional.yaml
    post-run:
      - playbooks/zuul-stream/post.yaml
      - playbooks/zuul-stream/post-ara.yaml
    required-projects:
      - openstack/ara
    files:
      - zuul/ansible/.*
      - playbooks/zuul-stream/.*
      - requirements.txt

- job:
    name: zuul-tox-py35
    parent: tox-py35
    description: |
      Runs javascript build before running python 35 unit tests.
    pre-run: playbooks/tox/pre.yaml
    run: playbooks/tox/run.yaml
    post-run: playbooks/tox/post.yaml
    vars:
      node_version: 8
      npm_command: build

- job:
    name: zuul-tox-remote
    parent: tox
    vars:
      tox_envlist: remote
      tox_environment:
        ZUUL_SSH_KEY: /home/zuul/.ssh/id_rsa
        ZUUL_REMOTE_IPV4: "{{ nodepool.interface_ip }}"
        ZUUL_REMOTE_KEEP: "true"

- project:
    check:
      jobs:
        - build-sphinx-docs:
            irrelevant-files:
              - zuul/cmd/migrate.py
              - playbooks/zuul-migrate/.*
            vars:
              sphinx_python: python3
        - tox-pep8
        - tox-py35:
            irrelevant-files:
              - zuul/cmd/migrate.py
              - playbooks/zuul-migrate/.*
        - build-javascript-content:
            success-url: 'npm/html/status.html'
            files:
              - package.json
              - webpack.config.js
              - yarn.lock
              - web/.*
            vars:
              javascript_content_dir: zuul/web/static
              npm_command: build:dist -- --define ZUUL_API_URL="'https://zuul.openstack.org'"
        - nodejs-npm-run-lint:
            vars:
                node_version: 8
            success-url: 'npm/reports/bundle.html'
            files:
              - package.json
              - webpack.config.js
              - yarn.lock
              - web/.*
        - zuul-stream-functional
        - zuul-tox-remote
        - nodepool-zuul-functional:
            voting: false
    gate:
      jobs:
        - build-sphinx-docs:
            irrelevant-files:
              - zuul/cmd/migrate.py
              - playbooks/zuul-migrate/.*
            vars:
              sphinx_python: python3
        - tox-pep8
        - tox-py35:
            irrelevant-files:
              - zuul/cmd/migrate.py
              - playbooks/zuul-migrate/.*
        - build-javascript-content:
            success-url: 'npm/html/status.html'
            files:
              - package.json
              - webpack.config.js
              - yarn.lock
              - web/.*
            vars:
              javascript_content_dir: zuul/web/static
              npm_command: build:dist -- --define ZUUL_API_URL="'https://zuul.openstack.org'"
        - nodejs-npm-run-lint:
            vars:
                node_version: 8
            success-url: 'npm/reports/bundle.html'
            files:
              - package.json
              - webpack.config.js
              - yarn.lock
              - web/.*
        - zuul-stream-functional
        - zuul-tox-remote
    post:
      jobs:
        - publish-zuul-docs
        - publish-openstack-sphinx-docs-infra-python3
        - publish-openstack-python-branch-tarball
        - publish-openstack-javascript-content:
            vars:
                node_version: 8

Add more explanatory text to zuul-from-scratch
  doc/source/admin/centos7_setup.rst
  doc/source/admin/fedora27_setup.rst
  doc/source/admin/gerrit_setup.rst
  doc/source/admin/github_setup.rst
  doc/source/admin/nodepool_install.rst
  doc/source/admin/nodepool_openstack.rst
  doc/source/admin/nodepool_static.rst
  doc/source/admin/zuul-from-scratch.rst
  doc/source/admin/zuul_install.rst
Due: build-sphinx-docs, tox-py35

Add documentation about using the badge
  doc/source/conf.py
  doc/source/user/badges.rst
  doc/source/user/index.rst
Due: build-sphinx-docs, tox-py35

github: Do not process comment events for regular issues
  tests/base.py
  tests/unit/test_github_driver.py
  zuul/driver/github/githubconnection.py
Due: build-sphinx-docs, tox-py35

correct github review approval type is `approved`
  doc/source/admin/drivers/github.rst
Due: build-sphinx-docs, tox-py35

Don't process lock files as refs in tests
  tests/base.py
Due: build-sphinx-docs, tox-py35

Allow templates to be optional for zuul-migrate
  zuul/cmd/migrate.py
Due: none

Allow for projects only names in zuul-migrate
  zuul/cmd/migrate.py
Due: none

Add the ability for a user to skip macros
  zuul/cmd/migrate.py
Due: none

Remove unnecessary injections
  web/status.js
Due: build-sphinx-docs, tox-py35, build-javascript-content, nodejs-npm-run-lint

Enable HTML5 mode and remove hash prefix for status
  web/status.js
Due: build-sphinx-docs, tox-py35, build-javascript-content, nodejs-npm-run-lint

Move SQL web handler to driver
  etc/zuul.conf-sample
  tests/base.py
  tests/unit/test_github_driver.py
  tests/unit/test_streaming.py
  tests/unit/test_web.py
  tests/unit/test_web_urls.py
  zuul/cmd/web.py
  zuul/driver/sql/__init__.py
  zuul/driver/sql/sqlconnection.py
  zuul/web/__init__.py
  zuul/web/handler.py
Due: build-sphinx-docs, tox-py35

Add never_capture test decorator
  tests/base.py
Due: build-sphinx-docs, tox-py35

Replace use of aiohttp with cherrypy
  doc/source/developer/ansible.rst
  requirements.txt
  tests/base.py
  tests/unit/test_github_driver.py
  tests/unit/test_streaming.py
  tests/unit/test_web.py
  zuul/cmd/web.py
  zuul/connection/__init__.py
  zuul/driver/github/githubconnection.py
  zuul/driver/sql/__init__.py
  zuul/driver/sql/sqlconnection.py
  zuul/web/__init__.py
  zuul/web/handler.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35

Convert streaming unit test to ws4py and remove aiohttp
  requirements.txt
  tests/unit/test_streaming.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35

Use iterate timeout in streaming tests
  tests/unit/test_streaming.py
Due: build-sphinx-docs, tox-py35

Use ZuulWebFixture in tests
  tests/base.py
  tests/unit/test_github_driver.py
  tests/unit/test_streaming.py
  tests/unit/test_web.py
Due: build-sphinx-docs, tox-py35

Cleanup unused connection.getWebController info param
  zuul/connection/__init__.py
  zuul/driver/github/githubconnection.py
  zuul/web/__init__.py
Due: build-sphinx-docs, tox-py35

Status branch protection checking for github
  releasenotes/notes/branch-protection-f79d97c4e6c0b05f.yaml
  tests/fakegithub.py
  tests/fixtures/layouts/gate-github.yaml
  tests/unit/test_github_driver.py
  zuul/configloader.py
  zuul/driver/__init__.py
  zuul/driver/gerrit/__init__.py
  zuul/driver/github/__init__.py
  zuul/driver/github/githubconnection.py
  zuul/driver/github/githubreporter.py
  zuul/driver/mqtt/__init__.py
  zuul/driver/smtp/__init__.py
  zuul/driver/sql/__init__.py
  zuul/lib/connections.py
Due: build-sphinx-docs, tox-py35

Remove getRepoPermission from FakeGithubConnection
  tests/base.py
  tests/fakegithub.py
Due: build-sphinx-docs, tox-py35

zuul-migrate: run / post-run playbooks need .yaml extensions
  zuul/cmd/migrate.py
Due: none

Stop scheduler more quickly
  zuul/scheduler.py
Due: build-sphinx-docs, tox-py35

Add cherrypy to built-in logging config
  zuul/ansible/logconfig.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35

Handle multiple stats in assertReportedStats
  tests/base.py
Due: build-sphinx-docs, tox-py35

Make Zuul able to start with a broken config
  releasenotes/notes/broken-config-f41fda98f01a3f4e.yaml
  tests/fixtures/config/broken/git/common-config/zuul.yaml
  tests/fixtures/config/broken/git/org_project/.zuul.yaml
  tests/fixtures/config/broken/git/org_project/README
  tests/fixtures/config/broken/git/org_project/playbooks/project-test.yaml
  tests/fixtures/config/broken/git/org_project2/.zuul.yaml
  tests/fixtures/config/broken/git/org_project2/README
  tests/fixtures/config/broken/git/org_project2/playbooks/project-test.yaml
  tests/fixtures/config/broken/main.yaml
  tests/unit/test_v3.py
  zuul/configloader.py
  zuul/manager/__init__.py
  zuul/model.py
Due: build-sphinx-docs, tox-py35

Disable timeouts on the log streaming connection
  zuul/ansible/callback/zuul_stream.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35

Cleanup log streaming error handling
  zuul/ansible/callback/zuul_stream.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35

Fix bwrap leak test
  tests/unit/test_bubblewrap.py
Due: build-sphinx-docs, tox-py35

Disable rewriting links in status page with HTML5 mode
  web/status.js
Due: build-sphinx-docs, tox-py35, build-javascript-content, nodejs-npm-run-lint

Fix remote stream log test
  tests/remote/test_remote_zuul_stream.py
Due: build-sphinx-docs, tox-py35
