Repository openstack-infra/zuul: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

zuul-stream-functional:
  parent: multinode
  nodeset: zuul-functional-temp-master
  pre-run: playbooks/zuul-stream/pre.yaml
  run: playbooks/zuul-stream/functional.yaml
  post-run:
  - playbooks/zuul-stream/post.yaml
  - playbooks/zuul-stream/post-ara.yaml
  required-projects:
  - openstack/ara

zuul-build-dashboard:
  parent: build-javascript-content
  success-url: npm/html/status.html
  vars:
    javascript_content_dir: zuul/web/static
    zuul_api_url: https://zuul.openstack.org
  run: playbooks/dashboard/run.yaml

zuul-build-dashboard-multi-tenant:
  parent: zuul-build-dashboard
  success-url: npm/html/tenants.html
  post-run: playbooks/dashboard/multi.yaml
  vars:
    zuul_api_url: https://softwarefactory-project.io/zuul
    javascript_copy_links: false

build-sphinx-docs:
  vars:
    sphinx_python: python3

tox-py36:
  nodeset: ubuntu-bionic

nodejs-npm-run-lint:
  vars:
    node_version: 8
  success-url: npm/reports/bundle.html

Added steps to install docker for all distros
  doc/source/admin/quick-start.rst
Due: build-sphinx-docs, tox-py35, tox-py36

Quick-start: remove ansible Dockerfile
  doc/source/admin/examples/ansible-Dockerfile
  doc/source/admin/examples/docker-compose.yaml
  doc/source/admin/examples/playbooks/roles/create_project/tasks/main.yaml
Due: build-sphinx-docs, tox-py35, tox-py36

Check paused parent on node failure of child job
  tests/fixtures/config/job-pause/git/org_project2/playbooks/just-pause.yaml
  tests/fixtures/config/job-pause/git/org_project2/playbooks/test-node-failure.yaml
  tests/fixtures/config/job-pause/git/org_project2/zuul.yaml
  tests/fixtures/config/job-pause/main.yaml
  tests/unit/test_v3.py
  zuul/manager/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

Retry jobs failed with MERGER_FAILURE
  zuul/executor/client.py
Due: build-sphinx-docs, tox-py35, tox-py36

Add __init__.py to web directory
  web/__init__.py
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Remove unneeded cruft from bdist_wheel fix attempts
  web/__init__.py
  zuul/_setup_hook.py
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Add line to setup.cfg limiting to python >=3.5
  setup.cfg
Due: build-sphinx-docs, tox-py35, tox-py36

Use zuul/web/static in setup_hook
  zuul/_setup_hook.py
Due: build-sphinx-docs, tox-py35, tox-py36

Add status page to the quick-start
  doc/source/admin/quick-start.rst
  playbooks/quick-start/main.yaml
Due: build-sphinx-docs, tox-py35, tox-py36

Add Zuul to zuul-quick-start
  .zuul.yaml
Due: build-sphinx-docs, tox-py35, tox-py36

Provide some accounting of node usage in logs
  zuul/manager/__init__.py
  zuul/model.py
  zuul/nodepool.py
  zuul/scheduler.py
Due: build-sphinx-docs, tox-py35, tox-py36

Handle missing node during hold check
  zuul/zk.py
Due: build-sphinx-docs, tox-py35, tox-py36

web: Increase height and padding of zuul-job-result
  web/src/index.css
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Add mysql to quick-start
  doc/source/admin/examples/docker-compose.yaml
  doc/source/admin/examples/etc_zuul/zuul.conf
  doc/source/admin/examples/zuul-config/zuul.d/pipelines.yaml
  playbooks/quick-start/localtest.yaml
  playbooks/quick-start/main.yaml
  playbooks/quick-start/run.yaml
Due: build-sphinx-docs, tox-py35, tox-py36

Simplify Builds page
  web/src/pages/Builds.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Add more information to build page
  web/src/pages/Build.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Indicate whether a build is voting in the logs
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36

Fix periodic job display in builds page
  web/src/pages/Builds.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Fedora docker-compose fixes for selinux
  doc/source/admin/examples/docker-compose.yaml
Due: build-sphinx-docs, tox-py35, tox-py36

Use zuul/nodepool-launcher container for docker-compose
  doc/source/admin/examples/docker-compose.yaml
Due: build-sphinx-docs, tox-py35, tox-py36

Temporary fix for race in quick start job
  playbooks/quick-start/main.yaml
Due: build-sphinx-docs, tox-py35, tox-py36

encrypt_secret: support OpenSSL 1.1.1
  tools/encrypt_secret.py
Due: build-sphinx-docs, tox-py35, tox-py36

Exclude .keep files from .gitignore
  .gitignore
Due: build-sphinx-docs, tox-py35, tox-py36

Run zookeeper datadir on tmpfs during testing
  tools/test-setup.sh
Due: build-sphinx-docs, tox-py35, tox-py36

Pin flake8
  test-requirements.txt
Due: build-sphinx-docs, tox-py35, tox-py36

Fix issue in Github connection with large diffs
  tests/unit/test_github_driver.py
  zuul/driver/github/githubconnection.py
Due: build-sphinx-docs, tox-py35, tox-py36

Filter file comments for existing files
  tests/fixtures/config/gerrit-file-comments/git/org_project/playbooks/file-comments.yaml
  tests/unit/test_gerrit.py
  zuul/driver/gerrit/gerritreporter.py
  zuul/reporter/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

Collect docker logs after quick-start run
  .zuul.yaml
  playbooks/quick-start/post.yaml
Due: build-sphinx-docs, tox-py35, tox-py36

quick-start: add a note about github
  doc/source/admin/drivers/github.rst
  doc/source/admin/quick-start.rst
Due: build-sphinx-docs, tox-py35, tox-py36

Remove vars assigned to but never used
  zuul/cmd/migrate.py
Due: none

Fix flake 3.6.0 warnings
  test-requirements.txt
  tests/base.py
  tests/remote/test_remote_zuul_stream.py
  tests/unit/test_github_driver.py
  tests/unit/test_merger_repo.py
  tests/unit/test_web_urls.py
  tox.ini
  zuul/ansible/library/zuul_console.py
  zuul/cmd/migrate.py
  zuul/cmd/web.py
  zuul/driver/bubblewrap/__init__.py
  zuul/driver/git/gitsource.py
  zuul/executor/server.py
  zuul/merger/merger.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Use doc/requirements.txt
  doc/requirements.txt
  test-requirements.txt
  tox.ini
Due: build-sphinx-docs, tox-py35, tox-py36

web: uses queues uid to preserve state on change
  web/src/containers/status/Pipeline.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Resume paused job with skipped children
  tests/base.py
  tests/fixtures/config/job-pause/git/org_project3/README
  tests/fixtures/config/job-pause/git/org_project3/playbooks/compile.yaml
  tests/fixtures/config/job-pause/git/org_project3/playbooks/pre-test.yaml
  tests/fixtures/config/job-pause/git/org_project3/playbooks/test.yaml
  tests/fixtures/config/job-pause/git/org_project3/zuul.yaml
  tests/fixtures/config/job-pause/main.yaml
  tests/unit/test_v3.py
  zuul/manager/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  zuul-build-dashboard-multi-tenant: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  build-sphinx-docs: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-lint: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
