Repository openstack-infra/zuul: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

zuul-stream-functional:
  parent: multinode
  nodeset: zuul-functional-temp-master
  pre-run: playbooks/zuul-stream/pre.yaml
  run: playbooks/zuul-stream/functional.yaml
  post-run:
  - playbooks/zuul-stream/post.yaml
  - playbooks/zuul-stream/post-ara.yaml
  required-projects:
  - openstack/ara

zuul-build-dashboard:
  parent: build-javascript-content
  success-url: npm/html/status.html
  vars:
    javascript_content_dir: zuul/web/static
    zuul_api_url: https://zuul.openstack.org
  run: playbooks/dashboard/run.yaml

zuul-build-dashboard-multi-tenant:
  parent: zuul-build-dashboard
  success-url: npm/html/tenants.html
  post-run: playbooks/dashboard/multi.yaml
  vars:
    zuul_api_url: https://softwarefactory-project.io/zuul
    javascript_copy_links: false

build-sphinx-docs:
  vars:
    sphinx_python: python3

tox-py36:
  nodeset: ubuntu-bionic

nodejs-npm-run-lint:
  vars:
    node_version: 8
  success-url: npm/reports/bundle.html

web: refactor status page to use a reducer
  web/src/actions/status.js
  web/src/containers/Refreshable.jsx
  web/src/pages/Status.jsx
  web/src/reducers/status.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

dict_object.keys() is not required for *in* operator
  tests/base.py
  zuul/ansible/callback/zuul_stream.py
  zuul/cmd/client.py
  zuul/cmd/migrate.py
  zuul/configloader.py
  zuul/driver/gerrit/gerritconnection.py
  zuul/executor/client.py
  zuul/lib/statsd.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Don't calculate priority of non-live items
  zuul/manager/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

Add instructions for reporting vulnerabilities
  README.rst
  doc/source/_static/0x97ae496fc02dec9fc353b2e748f9961143495829.txt
  doc/source/_static/0xfb2ee15b2f0f12662b68ed9603750dec158e5fa2.txt
  doc/source/user/index.rst
  doc/source/user/vulnerabilities.rst
Due: build-sphinx-docs, tox-py35, tox-py36

web: refactor jobs page to use a reducer
  web/src/actions/jobs.js
  web/src/containers/jobs/Jobs.jsx
  web/src/pages/Jobs.jsx
  web/src/reducers/index.js
  web/src/reducers/jobs.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: refactor job page to use a reducer
  web/src/actions/job.js
  web/src/pages/Job.jsx
  web/src/pages/Jobs.jsx
  web/src/reducers/index.js
  web/src/reducers/job.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: refactor tenants page to use a reducer
  web/src/actions/tenants.js
  web/src/pages/Tenants.jsx
  web/src/reducers/tenants.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Read old json data right before writing new data
  zuul/ansible/callback/zuul_json.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Add default value for relative_priority
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36

Use combined status for Github status checks
  tests/fakegithub.py
  tests/unit/test_github_driver.py
  zuul/driver/github/githubconnection.py
Due: build-sphinx-docs, tox-py35, tox-py36

Add nodepool.host_id variable to inventory file
  releasenotes/notes/host-id-inventory-e1cba009bb5a536d.yaml
  tests/base.py
  tests/fixtures/config/ansible/git/common-config/playbooks/check-vars.yaml
  zuul/executor/server.py
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36

Cap mypy
  test-requirements.txt
Due: build-sphinx-docs, tox-py35, tox-py36

Consider shared changes queues for relative_priority
  doc/source/admin/components.rst
  doc/source/user/config.rst
  tests/fixtures/layouts/two-projects-integrated.yaml
  tests/unit/test_scheduler.py
  zuul/manager/__init__.py
  zuul/manager/dependent.py
  zuul/manager/independent.py
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36

Fixed the word from congfiguration to configuration
  doc/source/admin/drivers/github.rst
Due: build-sphinx-docs, tox-py35, tox-py36

Fixed the necesssary to necessary
  doc/source/admin/drivers/sql.rst
Due: build-sphinx-docs, tox-py35, tox-py36

Rework zuul nodepool stats reporting
  doc/source/admin/monitoring.rst
  releasenotes/notes/nodepool-statsd-3eb500893833cdc4.yaml
  tests/base.py
  tests/unit/test_scheduler.py
  zuul/nodepool.py
Due: build-sphinx-docs, tox-py35, tox-py36

Add a statsd check for clashing keys
  tests/base.py
  tests/unit/test_scheduler.py
Due: build-sphinx-docs, tox-py35, tox-py36

Add spacing to Queue lengths line
  web/src/pages/Status.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

executor: add support for generic build resource
  doc/source/user/jobs.rst
  tests/base.py
  tests/fixtures/config/container-build-resources/git/common-config/playbooks/container-machine.yaml
  tests/fixtures/config/container-build-resources/git/common-config/playbooks/container-native.yaml
  tests/fixtures/config/container-build-resources/git/common-config/zuul.yaml
  tests/fixtures/config/container-build-resources/git/org_project/README
  tests/fixtures/config/container-build-resources/main.yaml
  tests/unit/test_v3.py
  zuul/ansible/callback/zuul_stream.py
  zuul/executor/server.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Modify some file content errors
  doc/source/admin/monitoring.rst
  doc/source/admin/tenants.rst
  doc/source/user/config.rst
Due: build-sphinx-docs, tox-py35, tox-py36

Only reset working copy when needed
  zuul/merger/merger.py
Due: build-sphinx-docs, tox-py35, tox-py36

Fix node leak when skipping child jobs
  tests/fixtures/config/data-return/git/common-config/zuul.yaml
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36

Use gearman client keepalive
  requirements.txt
  zuul/driver/github/githubconnection.py
  zuul/executor/client.py
  zuul/executor/server.py
  zuul/merger/client.py
  zuul/merger/server.py
  zuul/rpcclient.py
  zuul/rpclistener.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

web: update status page layout based on screen size
  web/src/containers/status/Pipeline.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: add project page
  web/src/api.js
  web/src/containers/project/Project.jsx
  web/src/containers/project/ProjectVariant.jsx
  web/src/pages/Project.jsx
  web/src/pages/Projects.jsx
  web/src/routes.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: add errors from the job-output to the build page
  web/src/actions/build.js
  web/src/containers/build/Build.jsx
  web/src/containers/build/BuildOutput.jsx
  web/src/reducers/build.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: refactor build page to use a reducer
  web/src/actions/build.js
  web/src/pages/Build.jsx
  web/src/reducers/build.js
  web/src/reducers/index.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: refactor labels page to use a reducer
  web/src/actions/labels.js
  web/src/pages/Labels.jsx
  web/src/reducers/index.js
  web/src/reducers/labels.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: refactor nodes page to use a reducer
  web/src/actions/nodes.js
  web/src/pages/Nodes.jsx
  web/src/reducers/index.js
  web/src/reducers/nodes.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: refactor build page using a container
  web/src/containers/build/Build.jsx
  web/src/pages/Build.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: refactor job page to use a reducer
  web/src/actions/project.js
  web/src/pages/Project.jsx
  web/src/reducers/index.js
  web/src/reducers/project.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Add governance document
  doc/source/governance.rst
  doc/source/index.rst
Due: build-sphinx-docs, tox-py35, tox-py36

Delay Github fileschanges workaround to pipeline processing
  tests/base.py
  tests/unit/test_github_driver.py
  zuul/driver/github/githubconnection.py
  zuul/manager/__init__.py
  zuul/merger/client.py
  zuul/model.py
  zuul/scheduler.py
Due: build-sphinx-docs, tox-py35, tox-py36

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  zuul-build-dashboard-multi-tenant: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  build-sphinx-docs: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-lint: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
