Repository openstack-infra/zuul: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

.zuul.yaml:

- nodeset:
    name: zuul-functional-temp-master
    nodes:
      - name: controller
        label: ubuntu-xenial
      - name: node1
        label: ubuntu-xenial
      - name: node2
        label: ubuntu-xenial
    groups:
      - name: node
        nodes:
          - node1
          - node2

- job:
    name: zuul-stream-functional
    parent: multinode
    nodeset: zuul-functional-temp-master
    pre-run: playbooks/zuul-stream/pre.yaml
    run: playbooks/zuul-stream/functional.yaml
    post-run:
      - playbooks/zuul-stream/post.yaml
      - playbooks/zuul-stream/post-ara.yaml
    required-projects:
      - openstack/ara
    files:
      - zuul/ansible/.*
      - playbooks/zuul-stream/.*
      - requirements.txt

- job:
    name: zuul-tox-remote
    parent: tox
    vars:
      tox_envlist: remote
      tox_environment:
        ZUUL_SSH_KEY: /home/zuul/.ssh/id_rsa
        ZUUL_REMOTE_IPV4: "{{ nodepool.interface_ip }}"
        ZUUL_REMOTE_KEEP: "true"

- job:
    name: zuul-build-dashboard
    parent: build-javascript-content
    success-url: 'npm/html/status.html'
    files:
      - package.json
      - tsconfig.json
      - tslint.json
      - web/.*
      - webpack.config.js
      - yarn.lock
    vars:
      javascript_content_dir: zuul/web/static
      zuul_api_url: https://zuul.openstack.org
    run: playbooks/dashboard/run.yaml

- job:
    name: zuul-build-dashboard-multi-tenant
    parent: zuul-build-dashboard
    success-url: 'npm/html/tenants.html'
    post-run: playbooks/dashboard/multi.yaml
    vars:
      zuul_api_url: https://softwarefactory-project.io/zuul
      javascript_copy_links: false

- project:
    check:
      jobs:
        - build-sphinx-docs:
            irrelevant-files:
              - zuul/cmd/migrate.py
              - playbooks/zuul-migrate/.*
            vars:
              sphinx_python: python3
        - tox-pep8
        - tox-py35:
            irrelevant-files:
              - zuul/cmd/migrate.py
              - playbooks/zuul-migrate/.*
        - tox-py36:
            nodeset: ubuntu-bionic
            irrelevant-files:
              - zuul/cmd/migrate.py
              - playbooks/zuul-migrate/.*
        - zuul-build-dashboard
        - zuul-build-dashboard-multi-tenant
        - nodejs-npm-run-lint:
            vars:
                node_version: 8
            success-url: 'npm/reports/bundle.html'
            files:
              - package.json
              - tsconfig.json
              - tslint.json
              - web/.*
              - webpack.config.js
              - yarn.lock
        - zuul-stream-functional
        - zuul-tox-remote
        - nodepool-zuul-functional:
            voting: false
    gate:
      jobs:
        - build-sphinx-docs:
            irrelevant-files:
              - zuul/cmd/migrate.py
              - playbooks/zuul-migrate/.*
            vars:
              sphinx_python: python3
        - tox-pep8
        - tox-py35:
            irrelevant-files:
              - zuul/cmd/migrate.py
              - playbooks/zuul-migrate/.*
        - tox-py36:
            nodeset: ubuntu-bionic
            irrelevant-files:
              - zuul/cmd/migrate.py
              - playbooks/zuul-migrate/.*
        - zuul-build-dashboard
        - nodejs-npm-run-lint:
            vars:
                node_version: 8
            success-url: 'npm/reports/bundle.html'
            files:
              - package.json
              - tsconfig.json
              - tslint.json
              - web/.*
              - webpack.config.js
              - yarn.lock
        - zuul-stream-functional
        - zuul-tox-remote
    post:
      jobs:
        - publish-zuul-docs
        - publish-openstack-sphinx-docs-infra-python3
        - publish-openstack-python-branch-tarball
        - publish-openstack-javascript-content:
            vars:
                node_version: 8
    release:
      jobs:
        - publish-zuul-docs
        - publish-openstack-sphinx-docs-infra-python3

Request dependent job nodes from paused parent provider
  tests/unit/test_v3.py
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36

Fix multiple jobs with provides/requires
  tests/fixtures/layouts/provides-requires.yaml
  tests/unit/test_v3.py
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36

Encode zuul.message with base64
  doc/source/user/jobs.rst
  releasenotes/notes/zuul-message-a36f1a6adc7da31c.yaml
  tests/fixtures/config/inventory/git/common-config/playbooks/jinja2-message.yaml
  tests/unit/test_inventory.py
  zuul/executor/server.py
  zuul/lib/yamlutil.py
Due: build-sphinx-docs, tox-py35, tox-py36

quickstart: web and others wait on mysql to start
  doc/source/admin/examples/docker-compose.yaml
  doc/source/admin/examples/playbooks/wait-to-start.yaml
Due: build-sphinx-docs, tox-py35, tox-py36

Centralize job canceling
  zuul/manager/__init__.py
  zuul/scheduler.py
Due: build-sphinx-docs, tox-py35, tox-py36

Reset dependent jobs when aborting paused job
  tests/base.py
  tests/unit/test_v3.py
  zuul/executor/server.py
  zuul/manager/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

Fix test race with Watchdog thread still running
  zuul/executor/server.py
Due: build-sphinx-docs, tox-py35, tox-py36

Log exception on module failure with empty stdout
  tests/fixtures/config/remote-zuul-stream/git/org_project/playbooks/command.yaml
  tests/remote/test_remote_zuul_stream.py
  zuul/ansible/callback/zuul_stream.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Fix test race in test_container_jobs
  tests/unit/test_v3.py
Due: build-sphinx-docs, tox-py35, tox-py36

SQL: only create tables in scheduler
  zuul/driver/sql/sqlconnection.py
Due: build-sphinx-docs, tox-py35, tox-py36

Increase timeout of test_plugins
  tests/unit/test_v3.py
Due: build-sphinx-docs, tox-py35, tox-py36

Allow soft job dependencies
  doc/source/user/config.rst
  releasenotes/notes/soft-dependencies-08b02bf3133a6c57.yaml
  tests/fixtures/layouts/soft-dependencies-error.yaml
  tests/fixtures/layouts/soft-dependencies.yaml
  tests/unit/test_model.py
  tests/unit/test_scheduler.py
  tests/unit/test_web.py
  zuul/configloader.py
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36

tests: remove debugging prints
  tests/unit/test_web.py
Due: build-sphinx-docs, tox-py35, tox-py36

web: add jobs list filter
  web/src/containers/jobs/Jobs.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: add flatten checkbox
  web/src/containers/jobs/Jobs.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Prevent local code execution via the raw module
  releasenotes/notes/localhost-raw-d841413f8743f8b8.yaml
  tests/fixtures/config/remote-action-modules/git/org_project/playbooks/raw-delegate.yaml
  tests/fixtures/config/remote-action-modules/git/org_project/playbooks/raw-localhost.yaml
  tests/fixtures/config/remote-action-modules/git/org_project/playbooks/roles/raw-test-delegate/tasks/main.yaml
  tests/fixtures/config/remote-action-modules/git/org_project/playbooks/roles/raw-test-delegate/tasks/script-delegate.yaml
  tests/fixtures/config/remote-action-modules/git/org_project/playbooks/roles/raw-test-localhost/tasks/main.yaml
  tests/remote/test_remote_action_modules.py
  zuul/ansible/action/raw.py
  zuul/ansible/action/raw.pyi
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Add missing doc for 'execute_time' in MQTT schema
  doc/source/admin/drivers/mqtt.rst
Due: build-sphinx-docs, tox-py35, tox-py36

Ensure correct lexical sorting of node requests
  tests/fixtures/config/job-pause-priority/git/common-config/zuul.yaml
  tests/unit/test_v3.py
  zuul/zk.py
Due: build-sphinx-docs, tox-py35, tox-py36

Run tox-py35 jobs on xenial
  .zuul.yaml
Due: build-sphinx-docs, tox-py35, tox-py36

web: support more than one job in the filter
  web/src/containers/jobs/Jobs.jsx
  web/src/containers/status/Pipeline.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Wait for command processor thread to stop
  zuul/scheduler.py
Due: build-sphinx-docs, tox-py35, tox-py36

Remove some thread join timeouts
  zuul/driver/github/githubconnection.py
  zuul/executor/server.py
Due: build-sphinx-docs, tox-py35, tox-py36

Validate ansible installations on startup
  zuul/executor/server.py
  zuul/lib/ansible.py
Due: build-sphinx-docs, tox-py35, tox-py36

Make ansible version configurable
  doc/source/admin/components.rst
  doc/source/admin/tenants.rst
  doc/source/user/config.rst
  releasenotes/notes/multi-ansible-d027be61ad8593d4.yaml
  tests/base.py
  tests/fixtures/config/ansible-versions/git/common-config/playbooks/ansible-version.yaml
  tests/fixtures/config/ansible-versions/git/common-config/zuul.yaml
  tests/fixtures/config/ansible-versions/main.yaml
  tests/fixtures/config/remote-zuul-stream/git/org_project/playbooks/command.yaml
  tests/fixtures/config/tenant-parser/ansible-version.yaml
  tests/fixtures/config/tenant-parser/git/common-config/playbooks/common.yaml
  tests/fixtures/config/tenant-parser/git/common-config/zuul.yaml
  tests/remote/test_remote_action_modules.py
  tests/remote/test_remote_zuul_json.py
  tests/remote/test_remote_zuul_stream.py
  tests/unit/test_executor.py
  tests/unit/test_model.py
  tests/unit/test_v3.py
  tests/unit/test_web.py
  zuul/cmd/manage_ansible.py
  zuul/configloader.py
  zuul/executor/client.py
  zuul/executor/server.py
  zuul/lib/ansible.py
  zuul/manager/__init__.py
  zuul/model.py
  zuul/scheduler.py
Due: build-sphinx-docs, tox-py35, tox-py36

Support common ansible dependencies
  zuul/lib/ansible-config.conf
  zuul/lib/ansible.py
Due: build-sphinx-docs, tox-py35, tox-py36

Add missing docs for zuul-manage-ansible
  doc/source/admin/installation.rst
  zuul/cmd/__init__.py
  zuul/cmd/manage_ansible.py
Due: build-sphinx-docs, tox-py35, tox-py36

ansible-config: add common extra dependencies
  zuul/lib/ansible-config.conf
Due: build-sphinx-docs, tox-py35, tox-py36

Install virtualenv from source
  bindep.txt
  requirements.txt
  zuul/lib/ansible.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Don't call the merger for non-live items
  tests/base.py
  tests/unit/test_merger_repo.py
  tests/unit/test_v3.py
  zuul/manager/__init__.py
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36
