Repository openstack-infra/zuul: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

zuul-stream-functional:
  parent: multinode
  nodeset: zuul-functional-temp-master
  pre-run: playbooks/zuul-stream/pre.yaml
  run: playbooks/zuul-stream/functional.yaml
  post-run:
  - playbooks/zuul-stream/post.yaml
  - playbooks/zuul-stream/post-ara.yaml
  required-projects:
  - openstack/ara

zuul-build-dashboard:
  parent: build-javascript-content
  success-url: npm/html/status.html
  vars:
    javascript_content_dir: zuul/web/static
    zuul_api_url: https://zuul.openstack.org
  run: playbooks/dashboard/run.yaml

zuul-build-dashboard-multi-tenant:
  parent: zuul-build-dashboard
  success-url: npm/html/tenants.html
  post-run: playbooks/dashboard/multi.yaml
  vars:
    zuul_api_url: https://softwarefactory-project.io/zuul
    javascript_copy_links: false

build-sphinx-docs:
  vars:
    sphinx_python: python3

tox-py36:
  nodeset: ubuntu-bionic

nodejs-npm-run-lint:
  vars:
    node_version: 8
  success-url: npm/reports/bundle.html

Don't do live streaming in loops
  tests/fixtures/config/remote-zuul-stream/git/org_project/playbooks/command.yaml
  tests/remote/test_remote_zuul_stream.py
  zuul/ansible/callback/zuul_stream.py
  zuul/ansible/library/command.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Improve windows logging
  zuul/ansible/callback/zuul_stream.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Add ignore_basepython_conflict option to tox.ini
  tox.ini
Due: build-sphinx-docs, tox-py35, tox-py36

doc: fix typo in secret example
  doc/source/user/config.rst
Due: build-sphinx-docs, tox-py35, tox-py36

Fix reporting ansible errors in buildlog
  tests/fixtures/config/job-output/git/common-config/playbooks/job-output-missing-role.yaml
  tests/fixtures/config/job-output/git/common-config/zuul.yaml
  tests/fixtures/config/job-output/git/org_project3/README
  tests/fixtures/config/job-output/main.yaml
  tests/unit/test_v3.py
  zuul/executor/server.py
Due: build-sphinx-docs, tox-py35, tox-py36

encrypt_secret: support self-signed certificates via --insecure argument
  tools/encrypt_secret.py
Due: build-sphinx-docs, tox-py35, tox-py36

Add allowed-triggers and allowed-reporters tenant settings
  doc/source/admin/tenants.rst
  releasenotes/notes/allowed-connections-244fb22569090fb2.yaml
  tests/fixtures/config/multi-tenant/git/tenant-one-config/zuul.d/config.yaml
  tests/fixtures/config/multi-tenant/git/tenant-two-config/zuul.d/config.yaml
  tests/fixtures/config/multi-tenant/main.yaml
  tests/unit/test_v3.py
  zuul/configloader.py
Due: build-sphinx-docs, tox-py35, tox-py36

Handle existing .ssh dir on merger
  zuul/merger/merger.py
Due: build-sphinx-docs, tox-py35, tox-py36

Setup model before connection
  zuul/driver/sql/sqlconnection.py
Due: build-sphinx-docs, tox-py35, tox-py36

Use publish-zuul-python-branch-tarball job
  .zuul.yaml
Due: build-sphinx-docs, tox-py35, tox-py36

Quick-start: set content-type header on ssh key upload
  doc/source/admin/examples/playbooks/setup.yaml
Due: build-sphinx-docs, tox-py35, tox-py36

Improve resource usage with semaphores
  doc/source/user/config.rst
  releasenotes/notes/semaphore-resources-295dceaf7ddbab0d.yaml
  tests/fixtures/config/semaphore/git/common-config/zuul.yaml
  tests/fixtures/config/semaphore/git/org_project3/README
  tests/fixtures/config/semaphore/main.yaml
  tests/unit/test_scheduler.py
  zuul/configloader.py
  zuul/manager/__init__.py
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36

Display ref instead of NA for time triggered items
  tests/unit/test_scheduler.py
  web/src/containers/status/ChangePanel.jsx
  zuul/model.py
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Add config parameters for WinRM timeouts
  doc/source/admin/components.rst
  tests/fixtures/zuul-winrm.conf
  tests/unit/test_inventory.py
  zuul/executor/server.py
Due: build-sphinx-docs, tox-py35, tox-py36

Fix manual dequeue of github items
  tests/base.py
  tests/fakegithub.py
  tests/unit/test_github_driver.py
  zuul/driver/github/githubconnection.py
Due: build-sphinx-docs, tox-py35, tox-py36

Retry queries for commits
  tests/fakegithub.py
  tests/unit/test_github_driver.py
  zuul/driver/github/githubconnection.py
Due: build-sphinx-docs, tox-py35, tox-py36

Do a proper wait for zuul at quickstart
  playbooks/quick-start/main.yaml
Due: build-sphinx-docs, tox-py35, tox-py36

Add allowed-labels tenant setting
  doc/source/admin/tenants.rst
  releasenotes/notes/allowed-labels-d3ca17f3c7e167c8.yaml
  tests/fixtures/config/multi-tenant/git/tenant-one-config/zuul.d/config.yaml
  tests/fixtures/config/multi-tenant/main.yaml
  tests/unit/test_v3.py
  zuul/configloader.py
Due: build-sphinx-docs, tox-py35, tox-py36

Remove STATE_PENDING
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36

executor: harden add_host usage
  releasenotes/notes/restrict-add-host-f82bff723568a025.yaml
  zuul/ansible/action/add_host.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Remove uneeded if statement
  zuul/merger/merger.py
Due: build-sphinx-docs, tox-py35, tox-py36

web: fix ref column value for newrev
  web/src/pages/Builds.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Use the SQLAlchemy ORM
  zuul/driver/sql/sqlconnection.py
  zuul/driver/sql/sqlreporter.py
  zuul/web/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

Add artifact table
  doc/source/user/jobs.rst
  releasenotes/notes/add-artifacts-0718af34ca6165aa.yaml
  tests/fixtures/config/sql-driver/git/common-config/playbooks/project-test1.yaml
  tests/unit/test_web.py
  zuul/driver/sql/alembic/versions/ea2bae776723_add_artifact_table.py
  zuul/driver/sql/sqlconnection.py
  zuul/driver/sql/sqlreporter.py
  zuul/web/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

More strongly recommend the simple reverse proxy deployment
  doc/source/admin/installation.rst
Due: build-sphinx-docs, tox-py35, tox-py36

Add support for zones in executors
  doc/source/admin/components.rst
  releasenotes/notes/executor-zones-54318b8ea2f7e195.yaml
  tests/base.py
  tests/unit/test_scheduler.py
  zuul/executor/client.py
  zuul/executor/server.py
  zuul/lib/gear_utils.py
  zuul/rpclistener.py
  zuul/scheduler.py
Due: build-sphinx-docs, tox-py35, tox-py36

Clarify executor zone documentation
  doc/source/admin/components.rst
Due: build-sphinx-docs, tox-py35, tox-py36

Remove nodeid argument from updateNode
  zuul/zk.py
Due: build-sphinx-docs, tox-py35, tox-py36

Fix updating relative priority
  tests/unit/test_scheduler.py
  zuul/manager/__init__.py
  zuul/zk.py
Due: build-sphinx-docs, tox-py35, tox-py36

Only count live items for relative priority
  zuul/manager/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

web: break the reducers module into logical units
  web/src/App.jsx
  web/src/App.test.jsx
  web/src/actions/configErrors.js
  web/src/actions/info.js
  web/src/actions/tenant.js
  web/src/containers/status/ChangePanel.test.jsx
  web/src/index.js
  web/src/pages/ConfigErrors.jsx
  web/src/reducers.js
  web/src/reducers/configErrors.js
  web/src/reducers/index.js
  web/src/reducers/info.js
  web/src/reducers/tenant.js
  web/src/store.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: refactor info and tenant reducers action
  web/src/App.jsx
  web/src/App.test.jsx
  web/src/actions/info.js
  web/src/actions/tenant.js
  web/src/index.js
  web/src/reducers/info.js
  web/src/reducers/tenant.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: add error reducer and info toast notification
  web/package.json
  web/src/App.jsx
  web/src/actions/errors.js
  web/src/actions/info.js
  web/src/reducers/errors.js
  web/yarn.lock
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Fix ignored but tracked .keep file
  .gitignore
Due: build-sphinx-docs, tox-py35, tox-py36

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  zuul-build-dashboard-multi-tenant: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  build-sphinx-docs: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-lint: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
